body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
.conatiner {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  flex-wrap: wrap;
}
.header h3 {
  width: 50%;
  font-size: 36px;
  font-weight: 700;
}
.header p {
  width: 50%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.header p span {
  font-weight: 600;
  text-transform: uppercase;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images .img-box {
  width: 28%;
  padding: 10px;
  position: relative;
}
.images .img-box img {
  width: 100%;
}
.images .img-box:nth-child(2) {
  margin-top: 40px;
}
.images .img-box:nth-child(5) {
  margin-top: 40px;
}
.img-box p {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.img-box span {
  position: absolute;
  top: 40px;
  right: -37px;
  transform: rotate(90deg);
  font-size: 12px;
}
.copy {
  color: #bdbdbd;
  font-size: 14px;
  text-align: center;
  margin-top: 65px;
}
.copy a {
  color: #bdbdbd;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 900px) {
  .header h3,
  .header p {
    width: 100%;
  }
  .header p {
    font-size: 14px;
  }
  .header p span {
    font-size: 18px;
  }
  .images .img-box {
    width: 40%;
  }
  .images .img-box:nth-child(5) {
    margin-top: 0px;
  }
  .images .img-box:nth-child(even) {
    margin-top: 40px;
  }
  .img-box span {
    right: -28px;
    font-size: 10px;
  }
}
